Repository status-im/help.status.im, pull requests merged in 2023-02, with the labels that each got.

#381 Leave a group chat
  config/en/mkdocs.yml
  docs/en/using-status/change-who-can-invite-you-to-group-chats.md
  docs/en/using-status/index.md
  docs/en/using-status/leave-a-group-chat.md
  includes/urls-en.txt
  overrides/.icons/mobile/log-out.svg
Labels: doc-new, E:UsingStatus

#384 Remove members from a group chat
  config/en/mkdocs.yml
  docs/en/using-status/index.md
  docs/en/using-status/remove-members-from-a-group-chat.md
  overrides/.icons/desktop/cross.svg
  overrides/.icons/mobile/remove-member.svg
Labels: doc-new, E:UsingStatus

#431 Add an H2 title
  docs/en/your-profile-and-preferences/log-out-of-status.md
Labels: doc-enhance, E:ProfileSettings

#444 Share your Status profile
  config/en/mkdocs.yml
  docs/en/getting-started/add-a-contact-in-status.md
  docs/en/using-status/index.md
  docs/en/using-status/share-your-status-profile.md
  overrides/.icons/desktop/profile.svg
  overrides/.icons/mobile/share.svg
Labels: doc-new, E:UsingStatus

#452 Adding category descriptions
  docs/en/getting-started/index.md
  docs/en/index.md
  docs/en/network-nodes-and-statistics/index.md
  docs/en/status-communities/index.md
  docs/en/status-wallet/index.md
  docs/en/using-status/index.md
  docs/en/using-status/share-your-status-profile.md
  docs/en/your-profile-and-preferences/index.md
Labels: P:project-management
