Repository status-im/help.status.im, pull requests merged in 2023-03, with the labels that each got.

#439 Messages FAQs
  docs/en/getting-started/about-the-ethereum-blockchain.md
  docs/en/using-status/index.md
  docs/en/using-status/messages-faqs.md
  docs/en/your-profile-and-preferences/understand-your-status-keys-and-recovery-phrase.md
  includes/urls-en.txt
Labels: doc-new, E:UsingStatus

#488 Invite people to a Status community
  config/en/mkdocs.yml
  docs/en/status-communities/invite-people-to-a-status-community.md
  overrides/.icons/desktop/copy.svg
  overrides/.icons/desktop/share.svg
  overrides/.icons/mobile/qr-code.svg
Labels: doc-new, E:Communities

#499 Understand wrapped tokens
  config/en/mkdocs.yml
  docs/en/status-wallet/index.md
  docs/en/status-wallet/receive-crypto.md
  docs/en/status-wallet/swap-crypto.md
  docs/en/status-wallet/understand-network-fees.md
  docs/en/status-wallet/understand-wrapped-tokens.md
  includes/urls-en.txt
Labels: doc-new, E:Wallet

#509 Send crypto to your Status Wallet
  config/en/mkdocs.yml
  docs/en/status-wallet/index.md
  docs/en/status-wallet/send-crypto-to-your-status-wallet.md
Labels: doc-new, E:Wallet
